# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database
*.sqlite3

# Todos and log
todo*
log.txt
brain/log/conv-*

# Pour les mac
.DS_Store

# source pip file
src/*
src/

# models files
brain/models/*

# fichiers tmp.wav
tmp.wav