body{
	font-family: monospace;
	text-align: center;
	background: black;
	color: white;
}

#discussion-container {
	height: 300px;
	width : 500px;
	overflow-y: scroll;
	margin:auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

#discussion {
	margin: 10px;
	padding: 0;
	list-style-type: none;
	text-align: left;
}


#discussion > li:before {
	content: "> ";
}

.alan {
	font-weight: bold;
}

input, button, #discussion-container{
	color : white;
	background: black;
	border: solid 1px white;
}

input {
	width: 400px;
}

button {
	width: 90px;
	margin: 5px;
}

button:hover {
	font-weight: bold;
}

input:disabled, button:disabled {
	background: #333;
	font-weight: normal;
}

a, a:visited{
	color: white;
}

a:hover {
	color: #aaa;
}