* {
		font-family: monospace;
}

body{
		margin: 5px;

	text-align: center;
	background: black;
	color: white;
	

}


#header {
	display: flex;
	align-items: center;
  justify-content: space-between;
	flex-wrap: wrap;
	width: calc(100% - 10px);
	max-width : 500px;
		margin:auto;


}

#status {
	font-style: italic;
	font-size: smaller;
}


h1, h2, h3 {
	font-size: larger;
	margin: 5px;
}
h3 {
	font-size: inherit;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

.infobox-header{
	display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
	margin: 0;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.infobox-header * {
	display: block;
}

select {
	font-size: smaller;
	width: 40px;
	height: 14px;
}
input, button, #discussion-container, .infobox, select{
	color : white;
	background: black;
	border: solid 1px white;
  box-sizing: border-box;
}

#discussion-container, .infobox {
	width: calc(100% - 10px);
	max-width : 500px;
	margin:auto;
	margin-bottom: 10px;
	margin-top: 10px;
  padding: 10px;
	text-align: left;

}

#discussion-container {
	height: 300px;
	overflow-y: scroll;

}

ul {
	padding: 0;
	list-style-type: none;
}


ul > li:before {
	content: "> ";
}

.alan {
	font-weight: bold;
}


input {
	width: 400px;
	max-width: calc(100% - 10px);
}

button {
	display: inline-block;
	min-width: 30px;
	min-height: 30px;
	margin: 3px;
}

input:disabled, button:disabled, button:disabled:hover {
	color: white;
	background: #333;
	font-weight: normal;
}

a, a:visited{
	color: white;
}

a:hover, button:hover {
	color: #aaa;
	cursor: pointer;
}

.closed {
	display: none;
}
